.react-calendar {
  width: 100%;
  border: none;
  font-family: inherit;
  border-radius: 0.5rem;
  height: 100%;
}

.react-calendar__tile--active {
  background-color: #3b82f6 !important; 
  color: white !important;
  border-radius: 0.5rem;
}

.react-calendar__tile--now {
  background-color: #3b82f6 !important; 
  color: black !important;
}
.react-calendar__tile.entry-day abbr {
  display: none;
}
.react-calendar__month-view__days {
  height: 330px; 
  display: flex !important;
  grid-template-rows: repeat(6, 1fr);
}
.react-calendar__navigation button {
  background-color: #e0f2fe;
  color: #0c4a6e;
  font-weight: bold;
  border-radius: 6px;
  margin: 2px;
  padding: 6px 10px;
  transition: 0.2s ease;
}

.react-calendar__navigation button:hover {
  background-color: #56bbf1;
}

/* Home Calendar custom css */

.home-calendar .mood-day abbr {
  display: none !important;
}

/* 🎯 Style mood emoji in center */
.home-calendar .mood-emoji {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 .home-calendar .react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem; /* adjust emoji size */
  padding: 0.4rem;
}